/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2016, 7:08:04 PM
    Author     : Indesign Media
#fdb316 yellow
#d9e5fd light
#365aa8 dark
#ecf3fb bg
#ebf4fb grey
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #dad9d9;
    background-attachment: fixed;
    font-weight: 400;
}
.equal-item-holder {
    display: flex;
    flex-wrap: wrap;
}
.equal-item {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
time{
    cursor: pointer;
}
a {
    color: inherit;
    outline: 0;
}
a:hover {
    text-decoration: none;
}
a:hover, a:active, a:focus {
    outline: 0;
}
h1, h2, h3 {
    font-weight: 400;
}
h1 {
    font-size: 22px;
    margin: 10px 0px;
    padding: 5px 0px;
}
h2 {
    font-size: 20px;
    margin: 7px 0px;
    padding: 5px 0px;
}
h3 {
    font-size: 18px;
    margin: 6px 0px;
    padding: 5px 0px;
}

.viewfile {
    position: absolute;
    top: 0px;
    left: 17px;
}

.big-text {
    display: inline-block;
    font-size: 18px;
}

#student-slider-front .carousel-inner, #college-slider-front .carousel-inner, #institute-slider-front .carousel-inner {
    padding:10px 0px;
}



.searchParameters {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dashed #f0f0f0;
    margin-bottom: 10px;
}

.advSearchHeading {
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
}

.advSearchLebel-no {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #25427e;
    padding: 3px 15px;
    background: #3b5c9f;
    color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom:7px;
}
.advSearchLebel {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #25427e;
    padding: 3px 15px;
    background: #3b5c9f;
    color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom:7px;
    cursor: pointer;
}
.inactiveBtn {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #d6d5d5;
    padding: 3px 15px;
    background: #e7e7e7;
    color: #bababa;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom:7px;
    cursor: pointer;
}
.inactiveBtn:hover {
    color: #555;
}
.drop_list {
    width: 100%;
    overflow: hidden;
    background: no-repeat #ffffff;
    background-image:url('../img/drop.jpg');
    background-position: top right; 
}
.drop_list select{
    -webkit-appearance:none;
    background: transparent;
    width: 110%;
    overflow: hidden;
}
.content p {
    text-align: justify;
}
.form-control {
    font-size: 13px;
    border-color: #b3d2ea;
    border-radius: 0px;
}

.form-control:active, .form-control:focus {
    border: 1px solid #adcde6;
    box-shadow: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}

.red-batch {
    padding: 2px 5px;  
    background: #e90909; 
    color: #fff; 
    display: inline-block; 
    line-height: 1;
}

.red-batch:hover {
    background: #be0707;
}

.normal-list {

}

.normal-list ul {
    margin: 0px;
    padding: 0px;
}

.normal-list ul li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.normal-list ul li:hover {
    color: #fdb316;
    cursor: pointer;
}

.normal-list ul li a {
    display: inline-block;
}


.normal-list ul li a:hover {
    color: #fdb316;
}
.normal-list ul li:last-child {
    border-bottom: none;
}

.list_who_interested {
    border: 1px solid #f0f0f0;
    padding: 8px;
    margin-bottom: 10px;
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}
.list_who_interested_focus {
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    font-size: 30px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
    line-height: 1.9;
}

.list_who_interested li {
    list-style: none;
}

.red-lebel {
    padding: 2px 5px;  
    background: red; 
    color: #fff; 
    display: inline-block; 
    line-height: 1;
}

.myCheck {
    min-width: 150px;
    padding: 5px;
    display: inline-block;
}

.sub-heading {
    padding: 5px 0px;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 600;
}

.top-head {
    background: #fff;
    margin-top: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}

.standard-padding {
    padding: 30px;
}

.standard-margin-bottom {
    margin-bottom: 35px;
}

.standard-padding-little-height {
    padding: 5px 15px;
}
.standard-padding-little-wide {
    padding: 30px 5px;
}

.head {
    background: #fff;
}

.navigation {
    background: #365aa8;
}

.blue-bg {
    background: #d9e5fd;
}

.blue-bg-cover {
    background: #d9e5fd;
    padding: 15px;
}

#intersted-modal .modal-dialog  {width:30%;}

.intersted_user_list {

}
.intersted_user_list ul{
    margin: 0px;
    padding: 0px;
}
.intersted_user_list ul li{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
}


.intersted-list {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dim {
    color: #ccc;
}


.white-bg {
    background: #fff;
}

.white-bg h2 {
    font-size: 20px;
    margin: 0px 0px;
    padding: 0px 0px 18px 0px;
    line-height: 20px;
}


.grey-bg {
    background: #f4fafe;
    height: 100%;
}

.grey-bg:hover {
    background: #f4fafe;
    -webkit-box-shadow: inset 0px 0px 108px 10px rgba(168,203,237,0.25);
    -moz-box-shadow: inset 0px 0px 108px 10px rgba(168,203,237,0.25);
    box-shadow: inset 0px 0px 108px 10px rgba(168,203,237,0.25);
}

.grey-bg-half-border {
    background: url('../img/white.png') top left repeat-x, #ebf4fb;
    border: 1px solid #c2c6c9;
    margin-bottom: 20px;
}

.grey-bg-gradient {
    background: #f4fafe; /* Old browsers */
    background: -moz-linear-gradient(top, #f4fafe 0%, #ffffff 45%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4fafe 0%,#ffffff 45%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f4fafe 0%,#ffffff 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fafe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.round-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.round-border-with-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #c9e2f5;
}
.round-border-with-border:hover {
    border: 1px solid #5eade9;
}

.hero-text {
    font-size: 32px;
    font-weight: 700;
}
.blue-text {
    color: #3b5c9f;
}
.hero-text-medium {
    font-size: 25px;
    font-weight: 500;
}
.top-5 {
    margin-top: 5px;
}
.bottom-5 {
    margin-bottom: 7px;
}

.main {
    margin-bottom: 35px;
}

.bold-uppercase-blue {
    text-transform: uppercase;
    font-weight: 600;
    color: #365aa8;
}
.bold-uppercase {
    text-transform: uppercase;
    font-weight: 600;
}
.bold-uppercase-highlight {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: 0px 5px;
    background: #fcb616;
    color: #fff;
}

.text-uppercase {
    font-size: 11px;
}

.single-line-address {
    height: 18px;
    overflow: hidden;
    display: block;
}
.multi-lines-fixed-height {
    height: 100%;
    overflow: hidden;
    display: block;
}


.student-menu {
    border-bottom: 1px solid #b0ceec;
    background: #c5e2fe;
}
.student-menu ul {
    margin: 0px;
    padding: 0px;
}
.student-menu ul li {
    list-style: none;
    padding: 9px;
    display: inline-block;
    font-weight: 600;
}

.student-menu ul li.current-menu , .student-menu ul li:hover {
    border: 1px solid #b0ceec;
    padding: 8px;
    background: #dceeff;
    background-image: -webkit-linear-gradient(top, #fcc317, #fdb316);
    background-image: -moz-linear-gradient(top, #fcc317, #fdb316);
    background-image: -ms-linear-gradient(top, #fcc317, #fdb316);
    background-image: -o-linear-gradient(top, #fcc317, #fdb316);
    background-image: linear-gradient(to bottom, #fcc317, #fdb316);
}

.student-menu ul li a{
    list-style: none;
    padding: 10px;
}

.student-menu h1{
    margin: 3px 0px;
    padding: 3px 0px;
}


.removeOffer, .removeOfferIns {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 2px;
    cursor: pointer;
    color: red;
    font-size: 18px;
}


.remove-btn {
    color: #c2c2c2;
    cursor: pointer;
}

.remove-btn:hover {
    color: #df1e1e;
}

.remove-student-ad {
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.remove-college-ad, .remove-institute-ad {
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
}







.blank-well {
    padding: 10px;
}

.line-well {
    border: 1px solid #c2e0f4;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}



.line-well-heder {
    border: 1px solid #ccc;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
}

.line-well-title {
    display: block;
    font-size: 20px;
    color: #fdb316;
    font-weight: 600;
}

.line-well-title-subject{
    display: block;
    text-align: right;
    padding-top: 5px;
}


.line-well-body {
    border: 1px solid #ccc;
    border-top: none;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 20px 10px 20px;
}


.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    display: block;
}
.panel-title a {
    display: block;
    padding: 6px 14px;
}

.panel-heading {
    padding: 2px 2px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
.panel-default>.panel-heading:hover {
    color: #333;
    background-color: #fdb316;
    border-color: #fdb316;
}
.panel-default>.panel-heading:active {
    color: #333;
    background-color: #fdb316;
    border-color: #fdb316;
}
.panel-default {
    border-color: #f2f2f2;
}




.red-lebel {
    padding: 0px 5px;
    background: red;
    color: #fff;
    display: inline-block;
    line-height: 1;
    margin-left: 3px;
    font-size: 12px;
}

.red-lebel a {
    display: inline-block;
}



.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 2px;
    padding-left: 2px;
}
.row.no-gutter-single-item {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter-single-item [class*='col-']:first-child,
.row.no-gutter-single-item [class*='col-']:last-child{
    padding-right: 2px;
    padding-left: 2px;
}

.row.bigger-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.bigger-gutter [class*='col-']:not(:first-child),
.row.bigger-gutter [class*='col-']:not(:last-child) {
    padding-right: 3px;
    padding-left: 3px;
}



.right-nav {
    text-align: right;
    position: relative;
}

.top-head ul{
    margin: 0px;
    padding: 0px;
}
.top-head ul li{
    list-style: none;
    display: inline-block;
}

.top-head ul li a{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    color: #3a5b9e;
    font-size: 14px;
    border-left: 1px solid #f0f0f0;
    font-weight: 600;
}

.top-head ul li a:hover{
    color: #3a5b9e;
}

.top-head ul li:first-child a{
    border-left: none;
}

.logo {
    margin: 10px 5px;
}


/*MAIN NAVIGATION*/
.main-nav ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.main-nav ul li{
    list-style: none;
    display: inline;
}

.main-nav ul li a{
    display: inline-block;
    padding: 13px 17px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.main-nav ul li a:hover{
    color: #fff;
    background: #3a5b9e;
}


/*MAIN NAVIGATION*/



.main-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#415f9d+0,7e9ecd+100 */
    background: #003c8b; /* Old browsers */
}


/*STUDENTS*/
.student-box {
    font-size: 12px;
    padding: 7px 5px;
    position: relative;
}

.student-box img{
    padding-right: 2px;
    padding-bottom: 5px;
}

.student-box-message {
    display: flex;
    border-top: 1px solid #b9d8f8;
    padding: 5px 10px;
    background: #e7f5ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e7f5ff 0%, #f4fafe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e7f5ff 0%,#f4fafe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e7f5ff 0%,#f4fafe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f5ff', endColorstr='#f4fafe',GradientType=0 ); /* IE6-9 */

}
/*STUDENTS*/





/*FOOTER*/
footer {
    padding: 20px;
    color: #fff;
    background: #516ba6; /* Old browsers */
    background: -moz-linear-gradient(left, #516ba6 0%, #4d7ab5 51%, #516ba6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #516ba6 0%,#4d7ab5 51%,#516ba6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #516ba6 0%,#4d7ab5 51%,#516ba6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516ba6', endColorstr='#516ba6',GradientType=1 ); /* IE6-9 */
    border-top: 1px solid #003c8b;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-list {

}
.footer-list h2 {
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
}
.footer-list ul {
    margin: 0px;
    padding: 0px;
}
.footer-list ul li {
    list-style: none;
    display: block;
}
.footer-list ul li a {
    color: #fff;
    display: block;
    padding: 3px 0px;
} 
.footer-list ul li a:hover {
    color: #cfdefe;
}
.facebook-banner {
    margin-top: 20px;
}

.footer-border {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
}

.footer-copy {
    border-top: 1px solid #033372;
    padding: 10px 20px;
    background: #003c8b;    
}

.footer-logo {
    margin-top: 0px;
}
.copy {
    margin-top: 9px;
    text-align: right;
    color: #fff;
}

.copy a {
    color: #fff;
}
.copy a:hover {
    color: #f0f0f0;
}

.bottom-style {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

/*FOOTER*/


/*TABLE OVERRIDE*/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px 1px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e6f2fb;
}


.mytable > tbody > tr > td, .mytable > tbody > tr > th, .mytable > tfoot > tr > td, .mytable > tfoot > tr > th, .mytable > thead > tr > td, .mytable > thead > tr > th {
    padding: 4px 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e6f2fb;
}


/*TABLE OVERRIDE*/


.blockBtn {
    display: block;
    width: 100%;
    border: 1px solid #b0ceec;
    padding: 14px;
    background: #dceeff;
    background-image: -webkit-linear-gradient(top, #fcc317, #fdb316);
    background-image: -moz-linear-gradient(top, #fcc317, #fdb316);
    background-image: -ms-linear-gradient(top, #fcc317, #fdb316);
    background-image: -o-linear-gradient(top, #fcc317, #fdb316);
    background-image: linear-gradient(to bottom, #fcc317, #fdb316);
    text-align: center;
    font-size: 18px;
}

.bigBtn {
    text-align: right;
}
.bigBtn a {
    display: inline-block;
    border: 1px solid #b0ceec;
    padding: 10px 20px;
    background: #dceeff;
    background-image: -webkit-linear-gradient(top, #fcc317, #fdb316);
    background-image: -moz-linear-gradient(top, #fcc317, #fdb316);
    background-image: -ms-linear-gradient(top, #fcc317, #fdb316);
    background-image: -o-linear-gradient(top, #fcc317, #fdb316);
    background-image: linear-gradient(to bottom, #fcc317, #fdb316);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    border: 0px;
    border-radius: 0px;
}


.yellowCompact {
    background-color:#fffbef;
    border:1px solid #ecd9a1;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:12px;
    padding:3px 3px;
    text-decoration:none;
}
.yellowCompact:hover {
    background-color:#fdb416;
    border: 1px solid #e49e06;
}
.yellowCompact:active {
    position:relative;
    top:1px;
}



.blueCompact {
    background-color:#ddecfb;
    border:1px solid #b9d8f8;
    display:inline-block;
    cursor:pointer;
    color:#082b4e;
    font-size:12px;
    padding:3px 3px;
    text-decoration:none;
}
.blueCompact:hover {
    background-color:#384e97;
    color:#ffffff;
    border: 1px solid #082b4e;
}
.blueCompact:active {
    position:relative;
    top:1px;
    color: #ffffff;
}
.blueCompact-small {
    -moz-box-shadow:inset 0px 1px 0px 0px #384e97;
    -webkit-box-shadow:inset 0px 1px 0px 0px #384e97;
    box-shadow:inset 0px 1px 0px 0px #384e97;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #384e97), color-stop(1, #384e97));
    background:-moz-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-webkit-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-o-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-ms-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:linear-gradient(to bottom, #384e97 5%, #384e97 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#384e97', endColorstr='#384e97',GradientType=0);
    background-color:#384e97;
    border:1px solid #203373;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:10px;
    padding:0px 3px 2px 3px;
    text-decoration:none;
}
.blueCompact-small:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #384e97), color-stop(1, #384e97));
    background:-moz-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-webkit-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-o-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:-ms-linear-gradient(top, #384e97 5%, #384e97 100%);
    background:linear-gradient(to bottom, #384e97 5%, #384e97 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#384e97', endColorstr='#384e97',GradientType=0);
    background-color:#384e97;
}
.blueCompact-small:active {
    position:relative;
    top:1px;
}


.btn-primary {
    background: #415f9d;
    background-image: -webkit-linear-gradient(top, #415f9d, #7e9ecd);
    background-image: -moz-linear-gradient(top, #415f9d, #7e9ecd);
    background-image: -ms-linear-gradient(top, #415f9d, #7e9ecd);
    background-image: -o-linear-gradient(top, #415f9d, #7e9ecd);
    background-image: linear-gradient(to bottom, #415f9d, #7e9ecd);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 6px 15px;
    text-decoration: none;
    border: 1px soild #415f9d;
}
.btn-primary:hover {
    background: #7e9ecd;
    background-image: -webkit-linear-gradient(top, #7e9ecd, #415f9d);
    background-image: -moz-linear-gradient(top, #7e9ecd, #415f9d);
    background-image: -ms-linear-gradient(top, #7e9ecd, #415f9d);
    background-image: -o-linear-gradient(top, #7e9ecd, #415f9d);
    background-image: linear-gradient(to bottom, #7e9ecd, #415f9d);
    text-decoration: none;
}



.yelloButton {
    background: #fdb316;
    background-image: -webkit-linear-gradient(top, #fdb316, #fcc317);
    background-image: -moz-linear-gradient(top, #fdb316, #fcc317);
    background-image: -ms-linear-gradient(top, #fdb316, #fcc317);
    background-image: -o-linear-gradient(top, #fdb316, #fcc317);
    background-image: linear-gradient(to bottom, #fdb316, #fcc317);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #111111;
    padding: 6px 15px;
    text-decoration: none;
    border: 1px solid #fdb316;
}
.yelloButton:hover {
    background: #fcc317;
    background-image: -webkit-linear-gradient(top, #fcc317, #fdb316);
    background-image: -moz-linear-gradient(top, #fcc317, #fdb316);
    background-image: -ms-linear-gradient(top, #fcc317, #fdb316);
    background-image: -o-linear-gradient(top, #fcc317, #fdb316);
    background-image: linear-gradient(to bottom, #fcc317, #fdb316);
    text-decoration: none;
    color: #fff;
}
.yelloButton:active {
    border-top-color: #e3a509;
    background: #e3a509;
}



.yelloButton-hero {
    background: #fdb316;
    background-image: -webkit-linear-gradient(top, #fdb316, #fcc317);
    background-image: -moz-linear-gradient(top, #fdb316, #fcc317);
    background-image: -ms-linear-gradient(top, #fdb316, #fcc317);
    background-image: -o-linear-gradient(top, #fdb316, #fcc317);
    background-image: linear-gradient(to bottom, #fdb316, #fcc317);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #111111;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #fdb316;
}
.yelloButton-hero:hover {
    background: #fcc317;
    background-image: -webkit-linear-gradient(top, #fcc317, #fdb316);
    background-image: -moz-linear-gradient(top, #fcc317, #fdb316);
    background-image: -ms-linear-gradient(top, #fcc317, #fdb316);
    background-image: -o-linear-gradient(top, #fcc317, #fdb316);
    background-image: linear-gradient(to bottom, #fcc317, #fdb316);
    text-decoration: none;
    color: #fff;
}
.yelloButton-hero:active {
    border-top-color: #e3a509;
    background: #e3a509;
}





.active-span {
    background: #65a30d;
    padding:1px 3px 3px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}
.inactive-span {
    background: #e11b22;
    padding:1px 3px 3px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}
.unknown-span {
    background: #4a266f;
    padding:1px 3px 3px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}
.expired-span {
    background: #1a1919;
    padding:1px 3px 3px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}
.featured-span {
    background: #12b4c3;
    padding:1px 3px 3px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}





.ad-box {
    margin-bottom: 25px;
}


.ad-box-round-corner {
    margin-bottom: 25px;
    border: 1px solid #c2c6c9;
}



.ad-box-round-corner h4{
    border-bottom: 1px solid #365aa8;
    padding-bottom: 7px;
    color: #365aa8;
}


.ad-text {
    padding: 15px;
    background: #ecf3fb;
    margin-bottom: 25px;
}

.ad-text-horizontal {
    padding: 15px;
    background: #ecf3fb;
    margin-bottom: 25px;
}

.ad-text a , .ad-text-horizontal a {
    color: #fdb316;
}
.ad-text a:hover , .ad-text-horizontal a:hover {
    color: #415f9d;
}



.wrap {  
    margin: 20px auto;
    display: block;
    padding:20px;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.wrap h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    padding: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}



.gradient {
    /* Center Positioning */
    width: 600px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: -2;

    /* Fallback */ 
    background-image: url(http://www.demo.amitjakhu.com/login-form/images/gradient.png); 
    background-repeat: no-repeat; 

    /* CSS3 Gradient */
    background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
    background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}



.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: none;
}
.student-scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2%;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: none;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#loginBox {
    margin-left: 50px;
}

.login-cover-title {
    background: #fdb316;
    padding: 20px;
    color:#fff ;
    font-size: 14px;
}

.login-cover-title h1 {
    font-size: 32px;
    font-weight: 300;
}

/*BUTTON STYLE*/
.blueButton {
    background: #003c8b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 7px 20px;
    text-decoration: none;
    border: none;
    font-size: 14px;
}
.blueButton:hover {
    background: #013375;
    text-decoration: none;
    color: #ffffff;
}
.blueButton:active {
    position:relative;
    top:1px;
    color: #ffffff;
}


.btnHolder {
    margin-top: 20px;
    margin-bottom: 20px; 
}

.btnHolder-Basic {
    margin-top: 20px;
    margin-bottom: 20px; 
    background: #5db861;
    min-height: 45px;
}
.btnHolder-Registered {
    background: #fcaf1a;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 45px;
}
.btnHolder-Privileged {
    background: #4374d2;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 45px;
}
.btnHolder-Premium {
    background: #fc511a;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 45px;
}

.btnBasic {
    background: #5db861;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 9px 20px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
}
.btnBasic:hover {
    background: #54a757;
    color: #ffffff;
    text-decoration: none;
}
.btnBasic:active {
    position:relative;
    top:1px;
}
.btnRegistered {
    background: #fcaf1a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 9px 20px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
}
.btnRegistered:hover {
    background: #e49f18;
    color: #ffffff;
    text-decoration: none;
}
.btnRegistered:active {
    position:relative;
    top:1px;
}
.btnPrivileged {
    background: #4374d2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 9px 20px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
}
.btnPrivileged:hover {
    background: #4468a8;
    color: #ffffff;
    text-decoration: none;
}
.btnPrivileged:active {
    position:relative;
    top:1px;
}
.btnPremium {
    background: #fc511a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    padding: 9px 20px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
}
.btnPremium:hover {
    background: #da4c21;
    text-decoration: none;
    color: #ffffff;
}
.btnPremium:active {
    position:relative;
    top:1px;
}





.offer-box {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
}

#student-box, #college-box, .browseBox {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#student-box h4, #college-box h4 {
    margin: 5px 0px;
    padding: 5px 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.line-well-student, .line-well-college {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}

.highlight {
    background: #fdb316;
    border: 1px solid #d9940b;
}

.line-separator {
    margin-top: 10px;
    height: 10px;
    border-top: 1px solid #f0f0f0;
}


.arrow-up-big1 {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #f4fafe;
    position: absolute;
    bottom: -40px;
    left: 10%;
    display: none;
    z-index: 9999;
}
.arrow-up-big2 {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #f4fafe;
    position: absolute;
    bottom: -40px;
    left: 10%;
    display: none;
    z-index: 9999;
}

.nav-tabs > li {
    font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #f4fafe;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.pagination {
    float: right;
    margin: 5px 0;
}

#dt1_filter, #dt2_filter {
    float: right;
}

.center-block {
    display: block;
    text-align: center;
}

.inalid-operation {
    min-height: 450px;
    padding-top: 300px;
    background: url('../img/security.png') center center;
}
.notfound_operation {
    min-height: 450px;
    padding-top: 300px;
    background: url('../img/404.png') center center;
}
.gal_img_cover {
    position: relative;
    margin-bottom:20px;
}
.doc_img_cover {
    position: relative;
    margin-bottom:20px;
    padding: 8px;
    border: 1px solid #b4d6ec;
}
.doc_img_cover_small {
    position: relative;
    margin-bottom:4px;
    padding: 4px;
    border: 1px solid #b4d6ec;
}



.gal_del {
    font-size:15px;
    position: absolute;
    z-index: 99;
    top: -2px;
    right: 5px;
    width: 10px;
    height: 10px;
}
a.gal_del { 
    color: red;
    display: block;
    background: #fff;
}

.doc_del {
    font-size:15px;
    position: absolute;
    z-index: 99;
    top: -2px;
    right: 5px;
    width: 10px;
    height: 10px;
}
a.doc_del { 
    color: #333;
}

.gallery_vid_div {
    overflow: hidden;
    position: relative;
}
.vid_del {
    font-size:15px;
    position: absolute;
    z-index: 991;
    top: -2px;
    right: 8px;
    width: 10px;
    height: 10px;
}
a.vid_del { 
    color: #fff;
}

.vid-cover {
    position: relative;
    overflow: hidden;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframecover {
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: 990;
    top: 0px;
    background: rgba(0,0,0,0.2);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -transition: all 0.5s ease;
}

.iframecover:hover {
    background: rgba(207,17,17,0.5);
}

.social-box {
    background: #fff;
    color: #333;
    text-align: center;
    margin-bottom:4px;
}

.social-box a {
    color: #516ba6;
    padding: 2px;
    display: block;
}
.social-box a:hover {
    color: #fff;
    background: #fdb316;
    display: block;
}
.social-box-top {
    background: #fff;
    color: #333;
    text-align: center;
    margin-bottom:4px;
}

.social-box-top a {
    color: #516ba6;
    padding: 3px 6px;
    display: block;
}
.social-box-top a:hover {
    color: #fff;
    background: #fdb316;
    padding: 3px 6px;
    display: block;
}

.big-gallery {
    background: #f0f0f0; max-height: 100px; overflow: hidden; position: relative;
}
.gallery-overlay {
    position: absolute; 
    background: rgba(0,0,0,0.3); 
    color: #fff; 
    text-align: center; 
    font-size: 25px; 
    width: 100%; 
    height: 100%; 
    padding-top: 30px;
}

.gallery-overlay a {
    color: #ffffff;
}

.gallery-overlay a:hover {
    color: #fff;
}

.gallery-overlay:hover {
    background: rgba(0,0,0,0.6); 
}



.margin-bottom-5 {
    margin-bottom: 5px;
}


.news-thumb {
    position: relative;
    max-height: 180px;
    overflow: hidden;
}
.news-thum-title {
    padding: 10px 15px;
    font-size: 15px;
}

.news-icon-box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: right;
    z-index: 99999;
    color: #fff;
    padding: 2px 5px;
    font-size: 28px;
}

.feature_image {
    background: #f0f0f0;
    padding: 3px;
    margin-bottom: 15px;
}

.news-content {
    line-height: 1.7;
}

.new-big-title {
    font-size: 25px;
    color: #3a5b9e;
}

.share-box {
    margin: 15px 0px;
}
.special-note {
    font-size: 11px;
    display: block; 
    padding:7px; 
    border: 1px 
        solid #f0f0f0; 
    margin-bottom: 7px;
    font-weight: 700;
}

.makeResend {
    cursor: pointer;
}

.docname {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
}
.docname_small {
    margin-top: 3px;
    display: block;
    text-align: center;
    font-size: 10px;
    height: 27px;
    overflow: hidden;
}


.plan-cover {
    font-size: 13px;
    margin: 15px 0px;
    position: relative;
}

.Premium {

}

.headbox {
    text-align: center;
    padding: 10px 0px 45px 0px;
    margin-bottom: 15px;
}

.headbox h1 {
    margin: 5px 0px;
    padding: 5px 0px;
    font-size: 22px;
}

.Registered .headbox {
    background: #fcaf1a url('../img/cone-Registered.png') bottom center no-repeat;
    color: #fff;
}
.Basic .headbox {
    background: #5db861 url('../img/cone-Basic.png') bottom center no-repeat;
    color: #fff;
}
.Privileged .headbox {
    background: #4374d2 url('../img/cone-Privileged.png') bottom center no-repeat;
    color: #fff;
}
.Premium .headbox {
    background: #fc511a url('../img/cone-premium.png') bottom center no-repeat;
    color: #fff;
}

.Registered .PlanSelected {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 34px;
    height: 30px;
    background: #fcaf1a;
    z-index: 999;
    color: #ffffff;
    border: 1px solid #fff;
}
.Basic .PlanSelected {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 34px;
    height: 30px;
    background: #5db861;
    z-index: 999;
    color: #ffffff;
    border: 1px solid #fff;
}
.Privileged .PlanSelected {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 34px;
    height: 30px;
    background: #4374d2;
    z-index: 999;
    color: #ffffff;
    border: 1px solid #fff;
}
.Premium .PlanSelected {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 34px;
    height: 30px;
    background: #fc511a;
    z-index: 999;
    color: #ffffff;
    border: 1px solid #fff;
}




.smllText {
    font-size: 14px;
}

.pricebox {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0px 5px 25px;
}


.Premium .pricebox {
    color: #fc511a;

}
.Privileged .pricebox {
    color: #4374d2;

}
.Basic .pricebox {
    color: #5db861;  
}
.Registered .pricebox {
    color: #fcaf1a;  
}

.planInfobox {
    padding-left: 25px;
}

.planTable {
    font-size: 25px;
}

.planList {
    position: relative;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #415586;
}
.planList-extended {
    position: relative;
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #415586;
}

.planBox {
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #fff;
    font-size: 18px;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.planBox-header {
    margin: auto;
    padding: 15px;
    height: 180px;
    width: 180px;
    margin-bottom: 25px;
    border: 1px solid #b0ceec;
    padding: 8px;
    background: #415f9d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 38px;
    text-align: center;
    padding-top: 1.5em;
    font-weight: 700;
    color: #fff;
}

.planBox-header span{
    font-size: 20px;
    font-weight: 300;
}

.planList-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 4px 30px;
    background: #415586;
    color: #fff;
}


.checkList {

}

.checkList ul{
    margin: 0px;
    padding: 0px;
}

.checkList li{
    list-style: none;
    padding: 5px 5px 5px 25px;
}

.checkList li.classcan-Premium{
    background: url('../img/tick-premium.png') center left no-repeat;
}
.checkList li.classcan-Basic{
    background: url('../img/tick-basic.png') center left no-repeat;
}
.checkList li.classcan-Registered{
    background: url('../img/tick-registered.png') center left no-repeat;
}
.checkList li.classcan-Privileged{
    background: url('../img/tick-privileged.png') center left no-repeat;
}

.checkList li.classcannot{
    background: url('../img/untick.png') center left no-repeat;
}
.checkList li a{

}

.bigTextLightYellow {
    font-size: 45px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #fcaf1a;
    margin-bottom: 25px;
}
.bigTextLightBlue {
    font-size: 45px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #415f9d;
    margin-bottom: 25px;
}

.bigTextLightBlue p, .bigTextLightYellow p {
    padding: 20px 0px;
    margin: auto;
    width: 60%;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.eventMainTitle {
    color: #fff;
    font-size: 30px;
    border: 1px solid #5db861;
    background: #5db861;
    padding: 6px 10px;
    text-align: center;
}

.eventBox {
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.eventTitle {
    font-size: 18px;
    height: 80px;
    overflow: hidden;
    font-weight: 600;
    padding: 10px;
}

.hideBox {
    height: 85px;
    overflow: hidden;
}

.expandBtnEvent {
    font-size: 18px;
    text-align: center;
    color: #3b5c9f;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}


.eventDetails {
    position: relative;
    padding: 20px;
}

.eventPriceBox {
    position: absolute;
    top: 10px;
    right: 10px;
    padding:3px 10px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
}


.advSearchBoarder {
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin: 10px 0px;
}

.advSearchBoarder h4{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.onlineChatIcon {
    position: absolute;
    width: 150px;
    height: 38px;
    top: 57px;
    right: 18px;
}
.offlineChatIcon {
    position: absolute;
    width: 150px;
    height: 38px;
    top: 57px;
    right: 18px;
}

.onlineColor {
    display: block;
    color: green;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    background: #e4febb;
}
.offlineColor {
    display: block;
    color: grey;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    background: #f0f0f0;
}
.onlineClicker {
    cursor: pointer;
}

.singleConversationBox {
    width: 95%;
    padding: 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 3px;
}
.singleConversationBox-active {
    border: 1px solid #ccc;
    background: #f0f0f0;
}

.coverConversation {
    display: block;
}



.AreaL {
    margin: 0 auto;
    width: 91%;
    background-color: #95acd8;
    display: table;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 9%;
}
.AreaR {
    margin: 0 auto;
    width: 91%;
    background-color: #e0dede;
    display: table;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 9%;
    border: 1px solid #e0dede;
}

.L
{
    float:left;
    margin-top: 6px;
}


.AreaL img
{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #4d6ba6;
    padding:5px;
    margin-left: 8px;
    background: #fff;
}
.AreaL img:hover
{
    cursor:pointer;
}
.AreaR img
{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #ccc;
    padding:5px;
    background: #fff;
    margin-right: 8px;
}
.AreaR img:hover
{
    cursor:pointer;
}
.R
{
    float:right;
    margin-top: 6px;
}
.text {
    color: #a4a4a4;
    font-weight: lighter;
    line-height: 30px;
    width: 90%;
    border: 1px solid #f0f0f0;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 0px;
    border-radius: 4px;
    padding: 0px 7px;
}
.Area textarea
{
    font-size:12px;
    width:90%;
    max-width:90%;
    min-width:90%;
    padding:5%;
    border-radius:5px;
    border:1px solid #f0f0f1;
    max-height:50px;
    height:50px;
    min-height:50px;
    background-color:#333;
    color:#fff;
    outline:none;
    border:1px solid transparent;
    resize:none;
}
.Area textarea:focus
{
    color:#333;
    border:1px solid #ccc;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    background-color:#fff;
}
.Area .note
{
    color:#9F6905;
    font-size:10px;
}



.textR {
    border: 1px solid #6078a5;
    background: #6078a5;
    color: #fff;
}

.textL {
    border: 1px solid #fff;
    background: #f6f6f6;
    color: #333;
    text-align: right;
}

.chatTime {
    color: #fff;
    display: block;
    font-size: 9px;
}
.chatTimeWhite {
    color: #000;
    display: block;
    font-size: 9px;
}

.scrolDiv {
    height: 250px;
    overflow-y: scroll;
}


.scrolDiv::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

.scrolDiv::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.scrolDiv::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 2px rgba(7,31,80,0.4);
    background-color: #3b5c9f;
}

.scrolDivChat {
    height: 500px;
    overflow-y: scroll;
}


.scrolDivChat::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

.scrolDivChat::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.scrolDivChat::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 2px rgba(7,31,80,0.4);
    background-color: #3b5c9f;
}


.relativeBox {
    position: relative;
}
.currentStatus {
    position: absolute;
    bottom: 12px;
    right: 22px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: greenyellow;
    border: 1px solid #000;
}

.alert-success {
    color: #c8fbe4;
    background-color: #00a65a;
    border-color: #027842;
}
.alert-danger {
    color: #fdc4c4;
    background-color: #d82a2a;
    border-color: #bb1919;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    background: url('../img/art.png') top left no-repeat;
    background-position-y: -21px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: url('../img/art.png') bottom right no-repeat;
    background-position-y: 55px;
}

.badge {
    border-radius: 0px;
}

.main-profile-holder {
    display: block;
    height: 121px;
    overflow: hidden;
    background: #ddecfb;
}
.userTypeShow {
    position: absolute;
    bottom: 10px;
    left: 5px;
    text-align: center;
}

.blueHead {
    font-size: 18px;
    font-weight: 600;
    color: #3a5b9e;
}
.uppercaseTextYellow {
    text-transform: uppercase;
    color: #fcb616;
    font-weight: 700;
}

.news-holder-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}
.news-holder-grid {
    border: 1px solid #ccc;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -35px;
}

.carousel-control.right {
    right: -26px;
}

.helpline {
    background: url(../img/helpline-back.jpg) left center no-repeat;
    padding: 20px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.front-intro {
    background: #4a69a4 url(../img/colorbg.jpg) left center no-repeat;
    text-align: center;
    padding: 20px 20%;
    font-size: 16px;
    color: #fff;
}

.front-intro a {}
.front-intro a:hover {
    color: #fec03c;
}